@font-face
{
	font-family:"nothing-you-could-do";
	src:url(../fonts/nothing-you-could-do/NothingYouCouldDo.ttf)
}

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

::selection
{
	background-color:#f1c40f
}

html,body
{
	box-sizing: border-box;
	height:100%;
	width: 100%;
}

body
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px
}

a
{
	text-decoration:none;
	color:#333
}

input
{
	width:100%;
	padding:0 3vw;
	height:8vw;
	margin:15px 5vw;
	border:1px solid #363e52;
	border-radius:5px;
	outline-style:none
}
img{
	width: 100%;
	height: 100%;
}

.clearfix::after,.clearfix::before
{
	content:'';
	display:block;
	clear:both
}

.transition
{
	transition:all .3s ease-in-out
}

.transition-red
{
	transition:.2s ease-in-out
}

.transition-red:hover
{
	color:#ff4a52
}

.transition-black
{
	transition:.2s ease-in-out
}

.transition-black:hover
{
	color:#fff;
	background-color:#333
}

.transition-back-red
{
	transition:.2s ease-in-out
}

.transition-back-red:hover
{
	color:#fff;
	transform:translateY(-5px);
	background-color:#ff4a52
}

.transition-back-green
{
	transition:.2s ease-in-out
}

.transition-back-green:hover
{
	color:#fff;
	transform:translateY(2px);
	background-color:#1ec6b6
}

.transform-scaleY-1-1:hover
{
	transform:scaleY(1.1)
}

.transform-scale-1-1:hover
{
	transform:skewX(180deg);
	transition:2s ease-in-out
}

.visibility
{
	visibility:hidden;
	opacity:0;
	transition:visibility 0s,opacity .5s ease-in-out
}

li
{
	color:#fff;
	font-size:17px;
	display:block
}

.d-flex
{
	display:flex!important;
}

.d-none
{
	display:none
}

.perfect-center
{
	display:flex;
	align-items:center;
	justify-content:center;
}

.d-inline
{
	display:inline;
}

.w-100
{
	width:100%
}

.w-50
{
	width:50%
}

.row
{
	width:100%;
	display:flex
}

.font-15
{
	font-size:15px
}

.btn
{
	border:none;
	outline:none;
	padding:15px 25px;
	border-radius:5px;
	letter-spacing:3px;
	font-size:20px;
	color:#fff;
	cursor:pointer
}

h1
{
	font-size:18vw;
	color:#fff
}

header
{
	flex-direction:column;
	height:100%
}

.top-header
{
	background-color:#fff;
	justify-content:space-between;
	padding:30px 0 1px
}

.logo-header
{
	position:relative;
	bottom:10px;
	animation:logo-move 1.5s infinite
}

@keyframes logo-move {
	0%
	{
		transform:translateY(0)
	}

	50%
	{
		transform:translate3d(0,-4px,0)
	}

	100%
	{
		transform:translateY(0)
	}
}

.top-header-icon
{
	color:#fff
}

.search-box-link
{
	background-color:#ff4a52;
	visibility:hidden;
	opacity:0;
	transition:visibility 0s,opacity .5s ease-in-out;
	padding:30px 20px
}

.bars-box-link
{
	color:#000;
	background-color:#1ec6b6;
	padding:30px 20px;
	right:0
}

.top-header-menu
{
	display:none;
	top:3.4vh;
	left:0;
	right:0;
	position:fixed;
	background-color:#f0f8ff;
	width:100%;
	z-index:1;
	margin:50px auto
}

.top-header-menu li
{
	border-bottom:1px solid #cecece;
	color:#fff;
	padding:14px 16px;
	font-size:17px;
	display:block
}

.top-header-menu li:not(:first-of-type):hover
{
	background-color:#333
}

.top-header-menu li a
{
	display:block;
	height:100%;
	width:100%
}

.search-input
{
	box-sizing:border-box;
	overflow:hidden;
	outline:none;
	width:85%;
	height:50px;
	margin:0;
	padding:10px;
	border:2px solid #1ec6b6
}

.search-button i
{
	font-size:25px
}

.search-button
{
	width:15%;
	padding:13px
}

.search-button:hover
{
	background-color:#169487
}

.search-button:active
{
	background-color:#0b4640
}

.main-header
{
	height:650px;
	background-image:url(../images/banner2.png)
}

.main-header-text
{
	justify-content:space-around;
	height:650px;
	align-items:center;
	background-color:rgba(0,0,0,0.3)!important;
	flex-direction:column
}

.australia
{
	font-family:"nothing-you-could-do",cursive;
	font-size:13vw
}

.main-header-p
{
	font-size:5vw;
	color:#fff
}

.main-header-btn
{
	background-color:#1ec6b6;
	font-weight:600;
	font-size:25px
}

.search-bar
{
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	background-color:#040e27;
	padding:20px 25px;
	color:#fff;
	box-sizing:border-box
}

.search-bar h3
{
	margin-bottom:2vw;
	font-size:4vw;
	font-weight:400
}

.search-form
{
	flex-direction:column;
	width:70%;
	align-items:center
}

.search-form input
{
	background-color:transparent;
	color:#fff
}

.search-form input::placeholder
{
	color:#cecece;
	font-size:15px
}

.search-form button
{
	background-color:#ff4a52;
	padding:10px 15px!important
}

/* main
{
	padding: 0px 0;
} */

.popular-destination
{
	padding-bottom:50px
}

.popular-head
{
	flex-direction:column;
	align-items:center;
	margin:100px 0;
	height:100px
}

.popular-head h5
{
	font-size:38px;
	font-weight:400;
	color:#040e27;
	margin:10px
}

.popular-head p
{
	line-height:30px;
	font-weight:400;
	font-size:16px;
	color:#7a838b;
	text-align:center
}

.popular-container
{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	width:100%;
	/* padding:0 10px; */
	align-items: center;
}

.image-pop
{
	position:relative;
	margin:20px 0 20px 10px;
}

.image-pop:hover
{
	transform:translateY(-5px)
}

.popular-container article::before
{
	background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.7));
	position:absolute;
	content:'';
	width:100%;
	z-index:1;
	border-radius:5px;
	height:100%;
	top:0;
	left:0
}

.information
{
	position:absolute;
	left:15px;
	bottom:40px
}

.image-pop *
{
	font-size:20px;
	font-weight:500;
	color:#fff;
	z-index:2
}

.article-link
{
	background-color:#1ec6b6;
	padding:7px 5px;
	font-size:12px;
	border-radius:15px
}

.article-box-link
{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0
}

.newsletter
{
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:center;
	align-content:center;
	width:100%;
	background-image:url(../images/newsletter.png);
	background-position:center center;
	background-size:cover;
	height:250px;
	position:relative
}

.newsletter::before
{
	background:#040e27;
	opacity:.3;
	position:absolute;
	content:'';
	width:100%;
	border-radius:5px;
	height:100%;
	top:0;
	left:0
}

.newsletter-head
{
	justify-content:center;
	align-content:center;
	flex-direction:column;
	z-index:5
}

.newsletter-main
{
	z-index:5;
	width:100%;
	justify-content:center
}

.newsletter-head h5
{
	margin-bottom:15px;
	font-size:25px;
	font-weight:400;
	text-align:center;
	color:#fff
}

.newsletter p
{
	font-size:15px;
	color:#333;
	margin-bottom:20px;
	text-align:center
}

.newsletter-form
{
	flex-direction:column;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
	width:60%
}

.newsletter-form input
{
	padding:15px 20px 5px;
	margin:10px;
	width:100%;
	height:50px
}

.newsletter-form input::placeholder
{
	color:#646262;
	font-size:17px
}

.news-letter-btn
{
	background-color:#ff4a52;
	width:100%
}
.video{
	background-image: url(../images/video.png);
	background-repeat: no-repeat;
	background-position:  center center;
	background-size: 100% 100%;
	padding: 120px 0;
	margin: 10px;
	justify-content: center;
	width: 100%;
	position: relative;
}
.video:before{
	background:#040e27;
	opacity:.3;
	position:absolute;
	content:'';
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index: 1;
}
.video-container{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 100;
}
.video-container h3{
	font-family: "nothing-you-could-do";
	font-size: 10vw;
	font-weight: 400;
	color: white;
	margin-bottom: 20px;

}
.video-button{
	background-color:#1ec6b6;
	cursor: pointer;
	border: none;
	outline: none;
	width: 85px;
	height: 85px;
	border-radius: 50%;

}

/* footer */
footer{
	padding: 50px 500px;
	justify-content: space-between;
	background-color: #0b4640;
}